/* Hide video and canvas elements */
#video,
#canvas {
    display: none;
}

body,
header {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    display: block;
    border: none;
}

html {
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.nav-menu li {
    list-style: none;
    display: inline;
    position: relative;
    margin-right: 20px;
}

a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}


.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(66, 66, 66);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    width: 60%;
}

object {
    pointer-events: none;
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.login-button {
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
}

.login-button a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove the underline */
}

.hero-image {
    max-width: 100%;
    height: auto;
    background-image: url('photos/hellofresh.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

#slogan {
    font-size: 28px;
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-button {
    padding: 10px 20px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.center-button:hover{
    background-color: #45a049;
}

.center-button a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove the underline */
}

@media screen and (max-width: 600px) {
    .center-button {
        padding: 6px 65px;
    }
}

.choices input[type="checkbox"]:checked {
    background-color: #304f30;
}

.choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.checkbox-group {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;

    &>* {
        margin: .5rem 0.5rem;
    }
}

.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        color: #2260ff;

        &:before {
            transform: scale(1);
            opacity: 1;
            background-color: #2260ff;
            border-color: #2260ff;
        }

        .checkbox-icon,
        .checkbox-label {
            color: #2260ff;
        }
    }

    &:focus+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-tile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 2px solid rgb(56, 53, 53);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
    width: 150px;
    /* Adjust the width as needed */
    height: 120px;


    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &:hover {
        border-color: #2260ff;

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}


.choices .checkbox-label {
    color: rgb(66, 66, 66);
    transition: .375s ease;
    text-align: center;
    margin-top: 20px;
}

.choices .checkbox-tile .choice-icon {
    display: inline-block;
    width: 60px;
    /* Adjust the width as needed */
    text-align: center;
    margin-top: 30px;
    margin-right: 0px;
    color: rgb(24, 121, 55);
    transform: scale(3);
}

.section {
    background-color: #ffffff;
    padding: 40px 0;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.text-box {
    flex: 1 1 20%;
    width: 200px;
    padding: 20px;
    margin: 0 30px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.text-box img {
    width: 60%;
    height: auto;
}

.text-box h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .text-box {
        flex: 1 1 80%;
    }
}

.big-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* Set the desired width of the box */
    height: 570px;
    /* Set the desired height of the box */
    padding: 1px;
    /* Add some padding inside the box */
    padding-top: 1px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    position: relative;
    height: 90vh;
    color: rgb(66, 66, 66);
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* Add margin to create space between the boxes */
}


.button-our-plans {
    margin-top: auto;
    /* Push the button to the bottom of the box */
    margin-left: auto;
    position: relative;
    left: 35%;
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
}

.button-our-plans:hover{
    background-color: #45a049;
}

.ttl-our-plans {
    font-size: 20px;
    margin-bottom: 20px;
    z-index: 3;
}

.button-our-plans a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove the underline */
}

@media screen and (max-width: 767px) {

    .big-box {
        padding: 10px;
        max-width: 80%;
        height: 570px;
        top: 50%;
    }

    .choices {
        padding: 10px;
    }

    .checkbox-tile {
        width: 120px;
    }

    .ttl-our-plans {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.big-box2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    /* Set the desired width of the box */
    height: 320px;
    /* Set the desired height of the box */
    padding: 1px;
    /* Add some padding inside the box */
    padding-top: 1px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question {
    margin-bottom: 10px;
    display: inline-block;
    align-items: center;
}

.radio {
    display: inline-block;
    align-items: center;
    margin-right: 10px;
}

.radio-input {
    display: none;
}

.radio-tile {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.radio-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-input:checked+.radio-tile {
    background-color: rgb(24, 121, 55);
}

.button a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove the underline */
}

.button {
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    margin-top: 10%;
}

.button:hover{
    background-color: #45a049;
}

@media screen and (max-width: 767px) {

    .big-box2 {
        padding: 10px;
        height: 300px;
        width: 100%;
    }

    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.how-works-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}

.step-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    color: rgb(66, 66, 66);
}

.step-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.step-content.left {
    flex-direction: row-reverse;
}

.step-image {
    flex: 1;
}

.step-image img {
    max-width: 400px;
    height: auto;
}

.step-text {
    flex: 1;
    padding-left: 20px;
}

h2 {
    margin-top: 0;
    font-size: 28px;
}

.step-description {
    font-size: 18px;
}

.get-start-button {
    display: block;
    margin-top: 10px;
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    margin-top: 10%;
}

.get-start-button:hover {
    background-color: #45a049;
}

.get-start-button a {
    color: inherit;
    text-decoration: none;
}


@media (max-width: 768px) {
    .step-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .step-content {
        flex-direction: column;
        align-items: center;
    }

    .step-content.left {
        flex-direction: column;
    }

    .step {
        width: 100%;
        margin-bottom: 20px;
    }

    .step-image {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

.our-menus-ttl {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(66, 66, 66);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding-left: 110px;
    padding-right: 80px;
    margin-top: 10px;
}

.tab {
    flex: 0 0 31%;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
    margin-bottom: 20px;
}

.tab-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.tab-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(66, 66, 66);
    padding-left: 10px;
}

.tab-description {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(66, 66, 66);
    padding-left: 10px;

}

.tab-preparation-time {
    font-size: 12px;
    color: gray;
    padding-left: 10px;
}

@media (max-width: 767px) {
    .tab {
        flex-basis: 100%;
        margin-bottom: 20px;
        /* Increase the margin bottom to create a bigger gap */
    }
}

.carousel-container {
    width: calc(100% - 100px);
    margin: 0 50px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: fit-content;
    transition: transform 0.3s ease-in-out;
    margin-top: 5%;
}

.carousel-item {
    flex: 0 0 auto;
    margin-right: 20px;
    position: relative;
}

.carousel-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(70%);
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    font-family: "Helvetica", sans-serif;

}

.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.carousel-navigation .arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin: 0 250px;
    margin-top: 50px;

}

.carousel-button {
    padding: 10px 20px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

h1#carousel-title {
    font-size: 28px;
    padding-bottom: 220px;
    font-family: "Helvetica", sans-serif;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .carousel-container {
        width: calc(100% - 30px);
        margin: 0 15px;
    }

    .carousel {
        margin-top: 20%;
    }

    .carousel-item {
        margin-right: 10px;
    }

    .carousel-image {
        width: 200px;
        height: 200px;
    }

    .carousel-text {
        font-size: 14px;
    }

    .carousel-navigation .arrow {
        text-align: center;
        margin-left: 50%;
        margin: 0 40px;
        margin-top: 20%;

    }

    h1#carousel-title {
        margin-top: 10%;
        font-size: 20px;
        text-align: center;
    }

    .carousel-button {
        margin-top: 10%;
    }

}

.section2-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.section2-image {
    flex: 1;
    max-width: 100%;
    margin-bottom: 10px;
}

.section2-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.section2-content {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    color: rgb(54, 54, 54);
}

.section2-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
}

#section2-disc ul {
    list-style-type: disc;
    padding-left: 30px;
    text-align: left;
}

.section2-content li {
    font-size: 18px;
    margin-bottom: 30px;
    font-family: "Helvetica", sans-serif;
    margin-left: 20px;
}

.section2-button {
    padding: 10px 170px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

@media (max-width: 767px) {
    .section2-container {
        flex-wrap: wrap;
        margin-top: 10px;
        height: 100%;

    }

    .section2-image,
    .section2-content {
        flex-basis: 100%;
        text-align: center;
    }

    .section2-button {
        padding: 6px 12px;
        position: absolute;
        right: 35%;
    }
}

.big-box3-container {
    position: relative;
    height: 90vh;
    color: rgb(66, 66, 66);
}

.big-box3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    /* Set the desired width of the box */
    height: 600px;
    /* Set the desired height of the box */
    padding: 1px;
    /* Add some padding inside the box */
    padding-top: 1px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-purchase {
    flex: 1;
    width: 400px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.image-purchase img {
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: none;
    border-radius: 10px;
}

.purchase-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.purchase-content {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    color: rgb(54, 54, 54);
}

.big-box3 h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
}

.purchase-content p {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Helvetica", sans-serif;
}

#purchase-form form {
    display: flex;
    flex-direction: column;

}

.purchase-button {
    padding: 10px 115px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.purchase-button a {
    color: inherit;
    text-decoration: none;
}

.purchase-button:hover {
    background-color: #45a049;
}

p#agree-terms {
    font-size: 10px;
    color: #9c9c9c;
    width: 300px;
    margin-top: 10px;
}

@media (max-width: 760px) {
    .big-box3-container {
        text-align: center;
        height: 1000px;
    }

    .big-box3 {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
        width: 100%;
    }

    .purchase-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .image-purchase {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .purchase-content {
        text-align: center;
    }

    .purchase-button {
        padding: 6px 12px;
        position: absolute;
        right: 35%;
    }

    .under-subscribe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .under-subscribe-box {
        margin-bottom: 20px;
        text-align: center;
    }
}

.under-subscribe-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.under-subscribe-box {
    flex: 1 1 20%;
    width: 200px;
    padding: 20px;
    margin: 0 30px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}

.under-subscribe-box img {
    width: 60%;
    height: auto;
}

.under-subscribe-box h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.under-subscribe-box p {
    font-size: 12px;
}

/* styling for video page */

#promo-video {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.continue-button {
    display: none;
    margin-top: 20px;
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
}

.continue-button:hover{
    background-color: #45a049;
}

@media only screen and (min-width: 768px) {
    #video-container {
        margin: 0;
        display: flex;
        padding: 5% 5% 5% 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #f1f1f1;
    }
}

@media only screen and (min-width: 1200px) {
    #video-container {
        margin: 0;
        display: flex;
        padding: 5% 20% 5% 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: #f1f1f1;
    }
}

/* styling for the pre-questionnaire */

#survey-title {
    text-align: center;
    margin-top: 20px;
}

/* Styling the Form (Color, Padding, Shadow) */
#startForm,
#finishForm {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: Verdana;
    text-align: center;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
#submit,
#finish {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#submit:hover,
#finish:hover {
    background-color: #45a049;
}

.likert-options {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 0 15px;
    border-bottom: 2px solid #efefef;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

/* explanation page styling */

.explanation {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.explanation .welcome {
    margin-top: 5%;
    text-align: center;
    padding-bottom: 20px;
    color: rgb(82, 82, 82);
}

.explanation .start-img-container {
    display: flex;
    justify-content: center;
}

.explanation .start-image {
    flex: 1;
    margin-left: 150px;
    align-self: flex-start;
}

.explanation .start-image img {
    max-width: 80%;
    height: auto;
}

.explanation .text-block {
    flex: 1;
    display: inline-block;
    width: 500px;
    height: 250px;
    margin-right: 150px;
    align-self: flex-start;
    bottom: 20px;
    right: 20px;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.explanation .top {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(82, 82, 82);
    margin-bottom: 10px;

}

.explanation .start-button {
    padding: 10px 30px;
    margin-top: 5%;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.explanation .start-button a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 767px) {
    .explanation .start-img-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }

    .explanation .start-image {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .explanation .text-block {
        width: auto;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        padding: 20px;
    }
}

.video-consent {
    position: relative;
    width: 24em;
    height: 23em;
    padding: 40px;
    text-align: center;
    background-color: #e1e1e1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#consent-img {
    margin-top: 5%;
}

#start-camera {
    margin-top: 5%;
    padding: 10px 30px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

#start-camera:hover{
    background-color: #45a049;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

/* congratulations page */

.congratulations {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: rgb(66, 66, 66);
    padding-top: 10%;
}

.congratulations h1 {
    font-size: 28px;
}

.congratulations p {
    margin-top: 20px;
}

.finish-experiment-button {
    padding: 10px 115px;
    background-color: rgb(24, 121, 55);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    margin-top: 20px;
}

.finish-experiment-button a {
    color: inherit;
    /* Inherit the color from the parent element */
    text-decoration: none;
    /* Remove the underline */
}

.finish-experiment-button:hover {
    background-color: #45a049;
}


/*Task explanation popup window*/
.task-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}

.task-popup-content h2 {
    margin-top: 20px;
}

.task-popup-content p {
    margin-bottom: 20px;
}

#close-task-popup {
    padding: 8px 16px;
    background-color: rgb(24, 121, 55);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.task-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.thank-you {
    max-width: 100%;
    text-align: center;
    padding: 200px;
    font-family: Helvetica, sans-serif;
    color: rgb(66, 66, 66);
}
